header {
    background: blue linear-gradient(rgb(91, 52, 174),#13035c);
}

header img {
    margin: 20px;
}

#threeline {
    color: #fff;
    background: 0 0;
    border: 0;
    font-size: 36px;
    font-weight: 300;
}

#head {
    font-family: system-ui;
    font-size: 30px;
    color: white;
    
}

span span:hover {
    background: rgb(255, 255, 255);
    color: rgb(91, 52, 174);
}

span span:active {
    background: rgb(91, 52, 174);
    color: rgb(255, 255, 255);
}

span span {
    padding: 5px;
    margin: 40px;
    
}
#separate {
    display: flex;
    justify-content: space-between;
}

#separate2 {
    display: flex;
    justify-content: space-between;
    float: right;
}

span a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

h1 {
    text-align: center;
    font-family: "Google Sans", "Roboto","Google Sans",Arial,sans-serif;;
    color: white;
}

#box1 {
    border: 2px  solid rgb(91, 52, 174);
    border-radius: 20px;
    background: blue linear-gradient(#13035c,#010004) ;
}

#paragraph {
    font-family: Lato,"Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 1.5;
    color: white;
    margin: 15px;
}

#home_image {
    position: relative;
    top: 30px;
}

#home_image:hover {
    background-color: white;
}