body {
    margin: revert;
}

header {
    background: blue linear-gradient(rgb(91, 52, 174),#13035c);
}

header img {
    margin: 20px;
}

#threeline {
    color: #fff;
    background: 0 0;
    border: 0;
    font-size: 36px;
    font-weight: 300;
}

#head {
    font-family: system-ui;
    font-size: 30px;
    color: white;
    display: flex;
    align-items:center;
}

/* li a:hover {
    background: rgb(255, 255, 255);
    color: rgb(91, 52, 174);
} */

/* li a:active {
    background: rgb(91, 52, 174);
    color: rgb(255, 255, 255); */


span span {
    padding: 5px;
    margin: 40px;
    
}
/* #separate {
    display: flex;
    justify-content: space-between; */
}

#separate2 {
    display: flex;
    justify-content: space-between;
    float: right;
}

span a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

h1 {
    text-align: center;
    font-family: "Google Sans", "Roboto","Google Sans",Arial,sans-serif;;
    color: white;
}

#box1 {
    border: 2px  solid rgb(91, 52, 174);
    border-radius: 20px;
    background: blue linear-gradient(#13035c,#010004) ;
}

#paragraph {
    font-family: Lato,"Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 1.5;
    color: white;
    margin: 15px;
}

/* #home_image {
    position: relative;
    top: 30px;
} */

#home_image:hover {
    background-color: white;
}

#box3_image {
    width: 100%;
    display: flex;
    justify-content: center; 
}

#circle_img img {
    width: 60px;
}

#circle_img {
    display: flex;
    justify-content: space-evenly;
    border: 30px white solid;
}

.floatcenter {
    display: flex;
    justify-content: center;
}

.borderspace {
    border-top: 10px white solid;
    border-left: 60px white solid;
    border-right: 60px white solid;
    color: purple;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.borderspace0 {
    border-top: 10px white solid;
    border-left: 30px white solid;
    border-right: 30px white solid;

}

footer {
    background: blue linear-gradient(rgb(91, 52, 174),#13035c);
    padding: 10px;
    color: white;
}

h2 {
    font-family: 'Courier New', Courier, monospace;
}

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#footer {
    text-align: center;
    font-family: cursive;
    font-size: 15px;
}

.flex_column {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    justify-content: space-evenly;
}

.flex-row2 {
    display: flex;
    justify-content: space-between;
}

.center_img {
    float: right;
}

table, th, td {
    padding: 18px;
    color: rgb(71, 0, 71);
}

th {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: normal;
}

td {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: normal;
}

.nav {
    float: left;
    max-width: 160px;
    margin: 0;
    padding: 1em;
}


li {
    list-style: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 5px;
    color: rgb(91, 52, 174);
    padding: 10px;
}

#Loremword {
    font-family: system-ui;
    font-size: 20px;
    background: #13035c; 
    padding: 15px; 
    text-align: center;
    border-radius: 30px;
    color: white;
}

.iframe {
    height: 500px;
    width: 100%;
    border: none;
}

.scroll {
    .scroll::-webkit-scrollbar {
    width: 4px;
    height: 4px;
    background-color: #f5f5f5;
    }
}

ul a {
    text-decoration: none;
}

.center {
    display: flex;
    justify-content: center;
}

.marquee {
    background: #14161957;
    margin: 0px 50px 0px 50px;
}

.custom-carousel > div > img {
    width: 720px;
    height: 620px;
}

.no-flex {
    display: revert;
}

.flex-shrink-0-flex-grow-1 {
    flex-shrink: 0;
    flex-grow: 1;
}

.iframe-web {
    width: 100%;
    height: 456px;
}